<!-- templates/index.html -->
{% load static %}
<html>
  <head>
    <title>Maylov blog</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="header">
        <div class="header_top">
          <div class="header_top_left">
            <a href="{% url 'index' %}" class="header_top_left__title">Maylov blog</a>
            <p class="header_left__slogan">Занимайтесь тем, что нравится!</p>
          </div>
          <div class="header_top_right">
            <a href="https://maylov.ru" class="header_top_right__menu">Home</a>
          </div>
        </div>
        <div class="header__content">
          <div class="header__content__subscription">
            <p class="header__content__subscription__p">Подпишись на уведомления о новых публикациях на электронную почту</p>
            <button class="header__content__subscription__button">subscribe</button>
          </div>
        </div>
      </div>
	</header>
    <main class="main">
    <div class="main__posts">
      <div class="main__posts__post">
      {% block content %}
      {% endblock content %}
      </div>
    </div>
    </main>
    <footer>
    <div>
            <p><strong>© 2023 smilevpn.</strong> Все права защищены</p>
    </div>
	</footer>
  </body>
</html>