@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nixie+One&display=swap');
* {
    margin: 0;
    padding: 0;
    /*display: flex;*/
    /*flex-direction: column;*/
}
body {

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
    background-color: #99ff00;
}

header {
  border-bottom: 1px solid #999;
  margin-bottom: 2rem;
  display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6600FF;
}

header h1 a {
  color: red;
  text-decoration: none;
}

.nav-left {
  margin-right: auto;
}

.nav-right {
  display: flex;
  padding-top: 2rem;
}

.test {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
}

.post-entry {
	width: 100%;
  margin: 1rem 0;
  display: flex;
  /* flex-wrap: wrap; */
flex-direction: column;
  flex: 30%;
  font-family: 'Montserrat', sans-serif;
  justify-content: center;
}

.post-entry h2 {
  margin: 0.5rem 0;
  font-family: 'Nixie+One', sans-serif;
}

.post-entry h2 a,
.post-entry h2 a:visited {
  color: blue;
  text-decoration: none;

}

.post-entry p {
	padding: 24px 0;
  font-weight: 400;
  display: flex;
}

.post-entry h2 a:hover {
  color: green;
}

.main {
	background-color: gray;
	width: 100%;
	padding: 24px 0;
	/* margin: 0 auto; */
	display: flex;
	justify-content: center;

}
.main__posts{
	/* margin: auto; */
	width: 40%;
    background-color: pink;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	/* align-items: center; */
	justify-content: center;
}

footer {
	background-color: yellow;
}

.main__posts__post {
	background-color: #fff;
}

.main__post__preimg {
	width: 100%;
	border-radius: 3px;
}