@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');
* {
    margin: 0;
    padding: 0;
	font-family: 'Montserrat', sans-serif;
    /*display: flex;*/
    /*flex-direction: column;*/
}
body {

  font-size: 18px;
    background-color: #fff;
	color: #262626;
}

header {
  border-bottom: 1px solid #999;
  margin-bottom: 2rem;
  display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6600FF;
}

header h1 a {
  color: red;
  text-decoration: none;
}

.nav-left {
  margin-right: auto;
}

.nav-right {
  display: flex;
  padding-top: 2rem;
}

.test {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
}

.post-entry {
	width: 100%;
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
flex-direction: column;
  flex: 30%;
  justify-content: center;
  align-items: center;
}

.post-entry h2 {
  margin: 0.5rem 0;
  line-height: 1.342;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.post-entry h2 a,
.post-entry h2 a:visited {
  color: #262626;
  text-decoration: none;
  font-size: 38px;

}

.post-entry__author {
	font-size: 18px;
}

.post-entry p {
	padding: 24px 0;
  font-weight: 400;
  display: flex;
  font-size: 21px;
  line-height: 1.81;
}

.post-entry h2 a:hover {
  color: #666666;
}

.main {
	background-color: #fff;
	width: 100%;
	padding: 24px 0;
	/* margin: 0 auto; */
	display: flex;
	justify-content: center;

}
.main__posts{
	/* margin: auto; */
	width: 40%;
    background-color: #fff;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	/* align-items: center; */
	justify-content: center;
}

footer {
	text-align: center;
	background-color: #fff;
	margin: 24px 0 0;
	padding: 0 0 24px;
}
footer strong{
	font-weight: 900;
}
footer p{
	font-weight: 100;
}

.main__posts__post {
	background-color: #fff;
}

.main__post__preimg {
	width: 100%;
	border-radius: 4px;
	object-fit: contain;
}
form {
	display: flex;
	justify-content: center;
}
.post-entry__button{
	display: inline-block;
	text-decoration: none;
	border: solid 1px #E0E0E0;
	font-weight: 700;
	border-radius: 4px;
	transition: color 0.2s,border-color 0.2s;
	padding: 18px 24px;
	background-color: #fff;
	font-weight: bold;
	font-size: 18px;
}
.post-entry__button:hover{
	border: solid 1px #262626;
}

.post-entry__prepost{
	padding: 0 8%;
}

.pagination{
	display: flex;
	justify-content: center;
	margin: 24px 0 0;
}

@media (max-width: 1920px){
	.main__posts{
		width: 50%;
	}
}

@media (max-width: 1500px){
	.main__posts{
		width: 65%;
	}
}

@media (max-width: 1280px){
	.main__posts{
		width: 75%;
	}
}

@media (max-width: 860px){
	.main__posts{
		width: 85%;
	}
}


/* Pagination */
.pagination {
    width: auto;
    margin: 24px auto 0;
}

.pagination,
.pagination__link {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center
}

a.pagination__link:hover{
	border: solid 1px #262626;
	text-decoration: none;
}

a.pagination__link:visited{
	text-decoration: none;
}

.pagination__link {
    position: relative;
    left: -1px;
    top: 1px;
    width: 100%;
    height: 100%;
	border: solid 1px #E0E0E0;
    border-radius: 4px;
    transition: all .2s ease-in-out;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #262626;
	text-decoration: none;
}

.pagination__item {
    transition: all .2s ease-in-out;
    width: 38px;
    height: 38px;
    border-radius: 4px;
    z-index: 1;
    position: relative;
    margin: 0 2px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
	text-decoration: none;
}

@media only screen and (max-width: 767px) {
    .pagination__item {
        margin: 0 2px;
        width: 33px;
        height: 33px
    }
}

@media only screen and (max-width: 767px) {
    .pagination__link {
        font-size: 15px
    }
}

@media only screen and (min-width: 1025px) {
    .pagination a.pagination__link:hover {
        border: solid 1px #262626;
    }
}

.pagination__item:first-child {
    margin-left: 0
}

.pagination__item:last-child {
    margin-right: 0
}

@media only screen and (max-width: 1023px) {
    .pagination__item:nth-child(3),
    .pagination__item:nth-child(9) {
        display: none;
    }
}

.pagination__item.active .pagination__link {
    border-color: #262626;
	pointer-events: none;
}

.pagination__item--dots .pagination__link {
    color: #E0E0E0;
}

.link_disabled{
	pointer-events: none;
	cursor: default;
	text-decoration: none;
	border: none;
} 