{% extends 'base.html' %}
{% block content %}
  {% for post in object_list %}
  <div class="test">
  <div class="post-entry">
	<h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
	<p class="post-entry__author">{{ post.author }} {{ post.published }}</p>
	<img class="main__post__preimg" src="{{ post.preimage.url }}" alt="" width="900px">
    <div class="post-entry__prepost">
	<p>{{ post.prebody }}</p>
	<form action="{% url 'post_detail' post.pk %}">
	<button class="post-entry__button">
		Читать далее
	</button>
</form>
</div>
  </div>
</div>
  {% endfor %}

  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock content %}
