{% extends 'base.html' %}
{% block content %}
  {% for post in object_list %}
  <div class="test">
  <div class="post-entry">
	<h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
	<p>{{ post.author }} {{ post.published }}</p>
	<img class="main__post__preimg" src="{{ post.preimage.url }}" alt="" width="900px">
    <p>{{ post.prebody }}</p>
	<form action="{% url 'post_detail' post.pk %}">
	<button>
		Читать далее
	</button>
</form>
  </div>
</div>
  {% endfor %}
{% endblock content %}